

/*GENERAL*/
body{
    background-color: white;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

// Core
@import 'core/variable';


/*layout*/
@import 'layout/header';

/*CSS TEAM*/

.section__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.section__main-team {
    list-style: none;
    padding: 0;
    margin: 15px 15px 45px 15px;
    text-align: center;
}

.section__title {
    font-family: 'Rubik', 'Sans-Serif';
    font-size: 24px;
    font-weight: 500px;
    line-height: 45px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 0px;
    color: #14d9c4;
    letter-spacing: 1px;
}

.section__content {
    font-family: 'Open-Sans', 'Sans-Serif';
    color: #54585a;
    font-size: 16px;
    line-height: 24px;
    
}


/*CSS STRENGTHS-WEAKNESSES*/

.strengths-and-weaknesses {
    width: 100%;
    background-color: #e9e9e9;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 45px;
    color: #b8b8b9;
}

.content-strenghts {
    margin: 15px;
    font-family: 'Open-Sans', 'Sans-Serif';
    color: #54585a;
    line-height: 24px;
    flex-basis: 50%;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 16px;
 
    
}

.content {
    margin-bottom: 0px;
}

.subtitle { 
  color: #099d8d;
  font-family: 'Rubik', 'Sans-Serif';
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 2.05;
  margin-bottom: 5px;
  margin-top: 0px;

}

.square {
    background-color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-15px,-15px) rotate(45deg);
}

/*CSS ADALABERS*/

#about-us {
    margin-bottom: 60px;
    box-sizing: border-box;
    max-width: 1200px;
}

/* Photos */

.photo__container {
    box-sizing: content-box;
    height: 180px;
    width: 180px;
    border-radius: 4px;
    border: solid 5px #e9e9e9;
    margin: auto;
}

.photo__container--right {
    box-sizing: content-box;
    height: 180px;
    width: 180px;
    border-radius: 4px;
    border: solid 5px #e9e9e9;
    margin: auto;
}

.photo {
    height: 180px;
    width: 180px;
}

.adalaber__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

}

.adalaber__info-container--right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

}

.icons__ul {
    width: 100vw;
    max-width: 124px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;


}

.icon--first {
    flex-basis: 19%;
}

.icon {
    flex-basis: 35%;
    display: flex;
    justify-content: space-around;
}

.icon-dot {
    height: 2px;
    width: 2px;
    background-color: #54585a;
    border-radius: 50%;
    display: inline-block;
    align-self: center;
}

.icon--link {
    text-decoration: none;
}

.icon--about-us {
    margin: 0px;
    display: block;
    color: #099d8d;
}

.visually-hidden {
    /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
   position: absolute !important;
   height: 1px; width: 1px;
   overflow: hidden;
   clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
   clip: rect(1px, 1px, 1px, 1px);
}

/*Text*/

.about-us__title {
    font-family: 'Rubik', 'Sans-Serif';
    font-weight: 700;
    font-size: 24px;
    line-height: 45px;
    color: #099d8d;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
}

.adalaber__name {
    font-family: 'Open-Sans', 'Sans-Serif';
    font-size: 20px;
    line-height: 45px;
    color: black;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
}

.adalaber__name--right {
    font-family: 'Open-Sans', 'Sans-Serif';
    font-size: 20px;
    line-height: 45px;
    color: black;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
}

.adalaber__text {
    text-align: center;
    font-family: 'Open-Sans', 'Sans-Serif';
    font-size: 16px;
    line-height: 24px;
    color: #54585a;
    box-sizing: border-box;   
    margin-top: 0px;
    margin-bottom: 0px;
}

.adalaber__text--right {
    text-align: center;
    font-family: 'Open-Sans', 'Sans-Serif';
    font-size: 16px;
    line-height: 24px;
    color: #54585a;
    box-sizing: border-box;   
    margin-top: 0px;
    margin-bottom: 0px;
}


/*CSS FOOTER*/
footer {
    border-top: 1px solid #b8b8b9;
    height: 250px;
}
.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copyright {
    font-family: 'Open-Sans', 'Sans-Serif';
    font-size: 14px;
    color: #b8b8b9;
    margin-top: 30px;
    margin-bottom: 0px;
}
.logo-adalab {
    width: 115.9px;
    height: 45px;
    margin-top: 30px;
}
.footer__list {
    text-align: center;
    list-style: none;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.footer__list--link {
    color: #54585a;
    font-size: 14px;
    opacity: 0.75;
    line-height: 1.43;
    font-weight: 550;
    font-family: 'Rubik';
    text-transform: uppercase;
    text-decoration: none;
}









@media all and (min-width:768px){

    /*HEADER*/


    /*TEAM*/

    .section__main-team {
        list-style: none;
        padding: 0;
        margin: 15px 45px 45px 45px;
        text-align: center;
    }    
    .section__title {
        line-height: 1.88;
        margin-top: 45px;
    }
    
    .section__content {
        line-height: 24px;
        list-style: none;
    }

    /*STRENGHTS AND WEAKNESSES*/

    .strengths-and-weaknesses {
        width: 100vw;
        background-color: #e9e9e9;
        text-align: center;
        display: flex;
        flex-direction: row;
        padding-bottom: 60px;
        justify-content: space-around;
        background-color: #e9e9e9;
        box-sizing: border-box;
        align-items: baseline;
        padding-top: 45px;
        align-content: center;
    }

    .strengths{
        
        flex-basis: 50%;
    }
  
    .weaknesses{
        
        flex-basis: 50%;
    }
    .subtitle{
        margin-bottom: 15px;
    }
    .contents{
        margin-bottom: 0px;
        margin-left: 45px;
        padding-right: 15px;
        margin-right: 15px;
        vertical-align: center;
    }

    .contentd{
        margin-right: 45px;
        margin-left: 0px;
        padding-left: 15px;
        margin-left: 0px;
    }
    
   
        

    /*ADALABERS*/

    #antonella, #ioana, #valeria {
        display: flex;
        flex-direction: row;
        height: 300px;
    }

    #clarette, #sandra {
        display: flex;
        flex-direction: row-reverse;
        height: 300px;    
    }

    .adalaber__info-container {
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items: flex-start;
    }

    .adalaber__name {
        text-align: left;
        margin-top: 30px;
    }

    .adalaber__name--right {
        text-align: right;
        margin-top: 30px;
        font-family: 'Open-Sans', 'Sans-Serif';
        font-size: 20px;
        line-height: 45px;
        color: black;
    }

    .adalaber__text {
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-right: 50px;
    }

    .adalaber__text--right {
        text-align: right;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'Open-Sans', 'Sans-Serif';
        font-size: 16px;
        line-height: 24px;
        color: #54585a;
        padding-left: 50px;
    }

    .icons__container {
        margin-top: 0px;
    }

    .photo__container {
        margin-left: 45px;
        width: 205px;
        height: 205px;
        border: 5px solid #e9e9e9;
    }

    .photo__container--right {
        margin-right: 45px;
        width: 205px;
        height: 205px;
        border: 5px solid #e9e9e9;

    }

    .photo {
        width: 205px;
        height: 205px;
    }

    .about-us__title {
        margin-bottom: 0px;
    }
    
    .adalaber__info-container--right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 15px;
    }

    /*FOOTER*/

    footer {
        height: 170px;
    }
    .footer__container {
        align-items: flex-start;
        margin-left: 45px;
        margin-bottom: 60px;
    }
    .footer__list {
        position: absolute;
        right: 45px;
        line-height: 30px;
        text-align: right;
        margin-top: 24px;
    }
    .logo-adalab {
        position: relative;
        left: -10px;
        margin-top: 15px;
    }

}



@media all and (min-width:1200px){

    /*TEAM*/
    
    .section__main-team {
        list-style: none;
        width: 1200px;
        padding: 15px 138px 60px 138px;
        margin: 0;
        text-align: center;
        box-sizing: border-box;
    } 
      
    /*STRENGHTS AND WEAKNESSES*/

    .strengths-and-weaknesses {
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        padding-bottom: 45px;
      
        
    }

    .strengths{
      margin-left: 138px;
      margin-right: 45px;
      flex-basis: 50%;
  }

  .weaknesses{
      margin-right: 139px;
      margin-left: 0px;
      flex-basis: 50%;
  }

  .contents{
      margin:  0px;
      padding: 0px;

  }

  .contentd{
    margin: 0px;
    padding: 0px;
 }




    
    
    /*ADALABERS*/

    #about-us {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    
    #antonella, #ioana, #valeria {
        display: flex;
        flex-direction: row;
        height: 300px;
    }

    #clarette, #sandra {
        display: flex;
        flex-direction: row-reverse;
        height: 300px;
    }

    .adalaber__info-container {
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items: flex-start;
    }

    .adalaber__info-container--right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 15px;
    }

    .adalaber__name {
        text-align: left;
        margin-top: 30px;
    }

    .adalaber__name--right {
        text-align: right;
        margin-top: 30px;
        font-family: 'Open-Sans', 'Sans-Serif';
        font-size: 20px;
        line-height: 45px;
        color: black;
    }

    .adalaber__text {
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 138px;
    }

    .adalaber__text--right {
        text-align: right;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 138px;
        font-family: 'Open-Sans', 'Sans-Serif';
        font-size: 16px;
        line-height: 24px;
        color: #54585a;
    }

    .photo__container {
        margin-left: 138px;
        width: 278px;
        height: 278px;
        border: 5px solid #e9e9e9;
    }

    .photo__container--right {
        margin-right: 138px;
        width: 278px;
        height: 278px;
        border: 5px solid #e9e9e9;
    }

    .photo {
        width: 278px;
        height: 278px;
    }

    .about-us__title {
        margin: 2em 0px 2em 0px;
    }

    /*FOOTER*/

    footer {
        height: 161px;
     }
     .footer__container {
         align-items: flex-start;
         margin-left: 138px;
     }
     .footer__list {
         position: absolute;
         right: 138px;
         margin-top: 24px;
     }
}