/*GENERAL*/
body{
    background-color: white;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
/* Core */
@import 'core/variable';

/*layout*/
@import 'layout/header';
@import 'layout/sw';
@import 'layout/teamcss';
@import 'layout/adalabers';
@import 'layout/footer';
@import 'layout/form';
