<section id="about-us">
    <p class="about-us__title">About us</p>
    <div id="antonella">
        <div class="photo__container"><img src="assets/images/Antonella.jpg" alt="Foto Antonella Michelli"
                class="photo"></div>
        <div class="adalaber__info-container">
            <p class="adalaber__name">Antonella Michelli</p>
            <p class="adalaber__text">
                Enthusiastic, resolute and a little impatient. Even though she has devoted last years to translation and learning languages, her arachnid sense always turns on when she listens to terms such as “new technologies” or “innovation”. Interested in web development, digital translation, and nature.
            </p>
            <ul class="icons__container">
                    <li class="icon">
                        <a href="https://twitter.com/antonellamcingo" target="_blank" class="icon--link">
                            <i class="fab fa-twitter fa-m icon--about-us" title="Twitter button"></i>
                            <span class="visually-hidden">Twitter button</span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="https://www.linkedin.com/in/antonella-michelli-0a784647" target="_blank"
                            class="icon--link">
                            <i class="fab fa-linkedin-in fa-m icon--about-us"></i>
                            <span class="visually-hidden">LinkedIn button </span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="https://github.com/AntonellaM" target="_blank" class="icon--link">
                            <i class="fab fa-github-alt fa-m icon--about-us"></i>
                            <span class="visually-hidden">Github button</span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="mailto:antonella.michelli@gmail.com" target="_blank" class="icon--link">
                            <i class="fas fa-envelope fa-m icon--about-us"></i>
                            <span class="visually-hidden">Send an email</span>
                        </a>
                    </li>
            </ul>
        </div>
    </div>
    <div id="clarette">
        <div class="photo__container--right"><img src="assets/images/Clarette.jpg" alt="Foto Clarette Terrasi Díaz"
                class="photo"></div>
        <div class="adalaber__info-container--right">
            <p class="adalaber__name--right">Clarette Terrasi Díaz</p>
            <p class="adalaber__text--right">
                Detail-oriented and persistent, even being a little anxious. A Geographer since 2012, she starts a new career as front-end programmer. An enthusiast of information systems, databases and logic, she never wastes the opportunity to go trekking, watch the stars and sightseeing.
            </p>
                <ul class="icons__container">
                    <li class="icon">
                        <a href="https://twitter.com/DiazTerrasi" target="_blank" class="icon--link">
                            <i class="fab fa-twitter fa-m icon--about-us" title="Twitter button"></i>
                            <span class="visually-hidden">Twitter button</span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="https://www.linkedin.com/in/clarettetdiaz/" target="_blank" class="icon--link">
                            <i class="fab fa-linkedin-in fa-m icon--about-us"></i>
                            <span class="visually-hidden">LinkedIn button </span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="https://github.com/cterrasid" target="_blank" class="icon--link">
                            <i class="fab fa-github-alt fa-m icon--about-us"></i>
                            <span class="visually-hidden">Github button</span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="mailto:clarette.terrasi@gmail.com" target="_blank" class="icon--link">
                            <i class="fas fa-envelope fa-m icon--about-us"></i>
                            <span class="visually-hidden">Send an email</span>
                        </a>
                    </li>
                </ul>
        </div>
    </div>
    <div id="ioana">
        <div class="photo__container"><img src="assets/images/Ioana.jpg" alt="Foto Ioana Daniela Moldovan"
                class="photo"></div>
        <div class="adalaber__info-container">
            <p class="adalaber__name">Ioana Daniela Moldovan</p>
            <p class="adalaber__text">
                Curious, ambitious and prone to challenges. Dedicated to sales and finances, she has changed her direction towards programming, where she can develop further her creative side. Number one fan of technology, music, and tv series.
            </p>
                <ul class="icons__container">
                    <li class="icon">
                        <a href="https://twitter.com/Ioana57019469" target="_blank" class="icon--link">
                            <i class="fab fa-twitter fa-m icon--about-us" title="Twitter button"></i>
                            <span class="visually-hidden">Twitter button</span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="https://www.linkedin.com/in/ioana-daniela-moldovan-27b628b5/" target="_blank"
                            class="icon--link">
                            <i class="fab fa-linkedin-in fa-m icon--about-us"></i>
                            <span class="visually-hidden">LinkedIn button </span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="https://github.com/daniela932910" target="_blank" class="icon--link">
                            <i class="fab fa-github-alt fa-m icon--about-us"></i>
                            <span class="visually-hidden">Github button</span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="mailto:daniela932910@gmail.com" target="_blank" class="icon--link">
                            <i class="fas fa-envelope fa-m icon--about-us"></i>
                            <span class="visually-hidden">Send an email</span>
                        </a>
                    </li>
                </ul>
        </div>
    </div>
    <div id="sandra">
        <div class="photo__container--right"><img src="assets/images/Sandra.jpg" alt="Foto Sandra Pinazo González"
                class="photo"></div>
        <div class=" adalaber__info-container--right">
            <p class="adalaber__name--right">Sandra Pinazo González</p>
            <p class="adalaber__text--right">
                Persevering, perfectionist and patient: the ABC of the programmer! She is always willing to learn new things. Coming from technical engineering to Adalab, she is interested in video-games and illustration, and everything else related to creativity.    
            </p>
                <ul class="icons__container">
                    <li class="icon">
                        <a href="#" target="_blank" class="icon--link">
                            <i class="fab fa-twitter fa-m icon--about-us" title="Twitter button"></i>
                            <span class="visually-hidden">Twitter button</span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="#" target="_blank" class="icon--link">
                            <i class="fab fa-linkedin-in fa-m icon--about-us"></i>
                            <span class="visually-hidden">LinkedIn button </span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="#" target="_blank" class="icon--link">
                            <i class="fab fa-github-alt fa-m icon--about-us"></i>
                            <span class="visually-hidden">Github button</span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="mailto:sandrapinazogonzalez@gmail.com" target="_blank" class="icon--link">
                            <i class="fas fa-envelope fa-m icon--about-us"></i>
                            <span class="visually-hidden">Send an email</span>
                        </a>
                    </li>
                </ul>
        </div>
    </div>
    <div id="valeria">
        <div class="photo__container"><img src="assets/images/Valeria.jpg" alt="Foto Valeria Lorente Pérez"
                class="photo"></div>
        <div class="adalaber__info-container">
            <p class="adalaber__name">Valeria Lorente Pérez</p>
            <p class="adalaber__text">
                Active, collaborative and constant. Having been an Environmental Scientist focused on wastewater treatment, she is now into front-end programming. A lover of nature, cinema, and videogames. This new career fits her as a finger ring!
            </p>
                <ul class="icons__container">
                    <li class="icon">
                        <a href="https://twitter.com/valeria_lorente" target="_blank" class="icon--link">
                            <i class="fab fa-twitter fa-m icon--about-us" title="Twitter button"></i>
                            <span class="visually-hidden">Twitter button</span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="#" target="_blank" class="icon--link">
                            <i class="fab fa-linkedin-in fa-m icon--about-us"></i>
                            <span class="visually-hidden">LinkedIn button </span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="https://github.com/valerialp" target="_blank" class="icon--link">
                            <i class="fab fa-github-alt fa-m icon--about-us"></i>
                            <span class="visually-hidden">Github button</span>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="mailto:valeria.lorentep@gmail.com" target="_blank" class="icon--link">
                            <i class="fas fa-envelope fa-m icon--about-us"></i>
                            <span class="visually-hidden">Send an email</span>
                        </a>
                    </li>
                </ul>
        </div>
    </div>
</section>