<footer class="footer">
    <div class="container__center">
    <div class="footer__container--@@option">
        <p class="copyright">Corchángulos' Squad © 2019</p>
        <ul class="footer__list">
            <li><a href="#team" class="footer__list--link">Equipo</a></li>
            <li><a href="#about-us" class="footer__list--link">Quiénes somos</a></li>
            <li><a href="#contact" class="footer__list--link">Contacto</a></li>
        </ul>

        <a href="https://adalab.es/" target="blank"><img class="logo-adalab" src="assets/images/logo-adalab.png"></a>
    </div>
    </div>
</footer>