<footer>
    <div class="container-footer">
        <p class="copyright">Corchángulos' Squad © 2019</p>
        <ul class="links-footer-list">
            <li><a href="#team" class="links-footer">Equipo</a></li>
            <li><a href="#about-us" class="links-footer">Quiénes somos</a></li>
            <li><a href="#contact" class="links-footer">Contacto</a></li>
        </ul>

        <a href="https://adalab.es/" target="blank"><img class="logo-adalab" src="assets/images/logo-adalab.png"></a>
    </div>
</footer>