<footer>
    <div class="footer__container">
        <p class="copyright">Corchángulos' Squad © 2019</p>
        <ul class="footer__list">
            <li><a href="#team" class="footer__list--link">Team</a></li>
            <li><a href="#about-us" class="footer__list--link">About us</a></li>
            <li><a href="#contact" class="footer__list--link">Contact</a></li>
        </ul>

        <a href="https://adalab.es/" target="blank"><img class="logo-adalab" src="assets/images/logo-adalab.png"></a>
    </div>
</footer>