<section class="form__container" id="contact">
    <h2 class="contact__title">Contact</h2>
    <p class="contact__text">
        Doubts, questions or just any comment, we will be happy to receive and answer it! Please, do not hesitate to
        send us!
    </p>

    <p class="form__rule">All fields marked with <span class="form__asterisk">*</span> are required</p>
</section>
<div class="form__container">
<form action="/signup" method="post">

    <div class="form__name">
        <label class="form1" for="name">Full name
            <span class="form__asterisk">*</span>
        </label>
        <input class="form6" type="text" id="name" name="name" placeholder="Enter your full name" required>
    </div>
    <div class="contact__data">
    <div class="form__email">
        <label class="form2" for="mail">Email
            <span class="form__asterisk">*</span>
        </label>
        <input class="form7" type="email" id="mail" name="email" placeholder="your-email@example.com" required>
    </div>
    
    <div class="form__phone">
        <label class="form3" for="phone">Phone number</label>
        <input class="form8" type="tel" id="phone" name="phone" placeholder="Ex: 123456789">
    </div>
    </div>
    <div class="form__message">
        <label class="form4" for="message">Message
            <span class="form__asterisk">*</span>
        </label>
        <textarea class="form9" id="message" name="message" rows="8" cols="80" placeholder="Write your message here"
            required></textarea>
    </div>

    <div class="form__submit">
        <label class="form5 visually-hidden" for="submit">Enviar</label>
        <input class="form10" id="submit" name="submit" value="Enviar"/>
    </div>
</form>
</div>