<header>
    <div class="headcontainer">
        <div class="nameandnav">
            <span class="namegroup">
                <a href="index.html" class="header__title">Corchángulos' Squad</a>
            </span>
            <div class="nav">
                <ul class="nav__list">
                    <li class="nav__list--links"><a href="#team" class="links__header">Equipo</a></li>
                    <li class="nav__list--links"><a href="#about-us" class="links__header">Quiénes somos</a></li>
                    <li class="nav__list--links"><a href="contact-us.html" class="links__header" target="_blank">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="@@heroClass"></div>
    <div class="centerclaim">
        <div class="@@claimClass">
            <p>Adalabers, programadoras y nuevas <em>women-in-tech</em></p>
        </div>
    </div>

</header>