
<header>
    <a href="#team" class="main__content" tabindex="0">Ir a contenido</a>  
    <div class="headcontainer">
        <div class="nameandnav">
            <h1 class="namegroup">
                <a href="index.html" class="header__title" tabindex="0">Corchángulos' Squad</a>
            </h1>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__list--links"><a href="index.html#team" class="links__header" tabindex="0">Equipo</a></li>
                    <li class="nav__list--links"><a href="index.html#about-us" class="links__header" tabindex="0">Quiénes somos</a></li>
                    <li class="nav__list--links"><a href="contact-us.html" class="links__header" tabindex="0">Contacto</a></li>
                    <li class="nav__list--links"><a href="index-en.html" class="links__header" tabindex="0">EN</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="@@heroClass"></div>
    <div class="centerclaim">
        <div class="@@claimClass">
            <p>Adalabers, programadoras y nuevas <em>women-in-tech</em></p>
        </div>
    </div>

</header>