<header class="mainheader">
    <div class="headcontainer">
        <div class="nameandnav">
            <span class="namegroup">
                <p>Corchángulos' Squad</p>
            </span>
            <div class="nav">
                <ul class="nav__list">
                    <li class="nav__list--links"><a href="#team" class="links__header">Equipo</a></li>
                    <li class="nav__list--links"><a href="#about-us" class="links__header">Quiénes somos</a></li>
                    <li class="nav__list--links"><a href="contact-us.html" class="links__header">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="frontpage"></div>
    <div class="centerclaim">
        <div class="claim">
            <p>Adalabers, programadoras y nuevas <em>women-in-tech</em></p>
        </div>
    </div>

</header>