<div class="container">
    <div class="square"></div>
    <div class="strengths-and-weaknesses">
        <div class="strengths">
            <h2 class="subtitle subtitle-strenghts">Strenghts</h2>
            <p class="content-strenghts contents">
                We are innovative, curious and prone to change. We have faith in ourselves, our work and our environment and we act accordingly. Thus, if you are looking for restless, proactive and entrepreneurial people, you have found them!
            </p>
        </div>
        <div class="weaknesses">
            <h2 class="subtitle">Weaknesses</h2>
            <p class="content-strenghts contentd">
                Nobody is perfect… and neither are we! We have a long way to go ahead of us regarding technical knowledge. We need training, help and a little patience but, trust in us! If you can offer us that, we won’t let you down!
            </p>
        </div>
    </div>
</div>