<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <partial src="_SW"></partial>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik|Opens+Sans|Sans+Serif">
    <title>Corchángulos' Squad - Webpage</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="square"></div>
            <div class="strengths-and-weaknesses">
                <div class="strengths">
                    <h2 class="subtitle subtitle-strenghts">Fortalezas</h2>
                    <p class="content-strenghts contents">
                        Somos personas innovadoras, inquietas, sin miedo al cambio. Esperamos mucho de nosotras
                        mismas y de nuestro entorno y actuamos en consonancia, por eso si buscáis colaboradoras
                        persistentes, proactivas y con mucha iniciativa, ¡ya las habéis encontrado!
                    </p>
                </div>
                <div class="weaknesses">
                    <h2 class="subtitle">Debilidades</h2>
                    <p class="content-strenghts contentd">
                        Nadie es perfecto… y nosotras tampoco. Nos queda mucho camino por recorrer en lo que a
                        conocimientos se refiere, necesitamos formación, ayuda y un poquito de paciencia. Pero
                        confiad en nosotras, si podéis ofrecernos eso, ¡no os defraudaremos!
                    </p>
                </div>
            </div>
        </div>
    </main>