<div id="team" class="invisible"></div>
<div class="section__main-team">
    <section class="section__content">
        <h2 class="section__title" tabindex="0">Equipo</h2>
        <p tabindex="0">
            Nos definimos como un equipo moderno y multidisciplinar. Venimos de mundos muy diversos, desde la
            Geografía hasta la Traducción pasando por el Diseño; pero tenemos un mismo objetivo: reinventarnos
            en el fascinante mundo de la programación y convertirnos en estandartes de la diversidad digital.
        </p>
        <p tabindex="0">
            Nuestras experiencias y nuestra pasión por la tecnología nos ha aunado en este proyecto y así es como surgen
            nuestras primeras colaboraciones, pero ¡estad atentos! ¡Quedan muchas por venir!
        </p>
    </section>
</div>