<div id="team" class="invisible"></div>
<div class="section__main-team">
    <section class="section__content">
        <h2 class="section__title" tabindex="0">Team</h2>
        <p tabindex="0">
            We define ourselves as a modern and multi-disciplinary team. We come from very diverse fields, from Geography to Translation, passing through Design. Nevertheless, we do have a common object: upgrade ourselves professionally to become programmers, taking the lead towards digital diversity.
        </p>
        <p tabindex="0">
            Our experiences and our passion for technology has pooled us together in this project and that’s how our first collaborations have taken place. Be aware! There are still many to come!
        </p>
    </section>
</div>