<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik|Opens+Sans|Sans+Serif">
    <title>Corchángulos' Squad - Webpage</title>
</head>

<body>  
    <partial src="_header.html"></partial>
    <main>
        <section class="section-main">
            <h2 class="section-title">Equipo</h2>
            <div class="content">
                <p>
                    Nos definimos como un equipo moderno y multidisciplinar. Venimos de mundos muy diversos, desde la
                    Geografía hasta la Traducción pasando por el Diseño; pero tenemos un mismo objetivo: reinventarnos
                    en el fascinante mundo de la programación y convertirnos en estandartes de la diversidad digital.
                </p>
                <p>
                    Nuestras experiencias y nuestra pasión por la tecnología nos ha aunado en este proyecto y así es como surgen
                    nuestras primeras colaboraciones, pero ¡estad atentos! ¡Quedan muchas por venir!
                </p>
            </div>
           <partial src="_SW.html"></partial>
        </section>
    <partial src="_adalabers.html"></partial>
    </main>
    <partial src="_footer.html" label="footer"></partial>
</body>

</html>