.footer {
    border-top: 1px solid $colorTextPrimary;
    height: 250px;
    @media all and (min-width:768px){
        height: 170px;
    }
    @media all and (min-width:1200px) {
        height: 161px;
    }
}
.container__center {
    margin: auto;
    max-width: 1200px;
}
.footer__container--home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;

    @media all and (min-width:768px) {
        height: 90px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 26px 1fr;
        grid-template-areas: "copyright links""logo links";
        margin: 24px 45px 56px;
    }
    @media all and (min-width:1200px) {
        margin: 24px 138px 47px;
    }
}
.footer__container--contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;

    @media all and (min-width:768px) {
        height: 90px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 26px 1fr;
        grid-template-areas: "copyright links""logo links";
        margin: 24px 45px 56px;
    }
    @media all and (min-width:1200px) {
        margin: 24px 138px 56px;
    }
}

.copyright {
    font-family: $fontContent;
    font-size: 14px;
    color: $colorTextPrimary;
    margin-top: 30px;
    margin-bottom: 0px;
    @media all and (min-width:768px) {
        grid-area: copyright;
        margin-top: 6px;
    }
}
.logo-adalab {
    width: 115.9px;
    height: 45px;
    margin-top: 30px;
    
    @media all and (min-width:768px){
        grid-area: logo;
        position: relative;
        left: -10px;
        margin-top: 15px;
        margin-bottom: 4px;
    }
}
.footer__list {
    grid-area: links;
    text-align: center;
    list-style: none;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    @media all and (min-width:768px){
        grid-area: links;
        line-height: 30px;
        text-align: right;
        margin: 0;
    }
}
.footer__list--link {
    color: $colorTextSecundary;
    font-size: 14px;
    opacity: 0.75;
    line-height: 1.43;
    font-weight: 550;
    font-family: $fontTitle;
    text-transform: uppercase;
    text-decoration: none;
}