.footer {
    border-top: 1px solid $colorTextPrimary;
    height: 250px;
    @media all and (min-width:768px){
        height: 170px;
    }
    @media all and (min-width:1200px) {
        height: 161px;
    }
}
.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media all and (min-width:768px) {
        align-items: flex-start;
        margin-left: 45px;
        margin-bottom: 60px;
    }
    @media all and (min-width:1200px) {
        align-items: flex-start;
        margin-left: 138px;
    }
}
.copyright {
    font-family: $fontContent;
    font-size: 14px;
    color: $colorTextPrimary;
    margin-top: 30px;
    margin-bottom: 0px;
}
.logo-adalab {
    width: 115.9px;
    height: 45px;
    margin-top: 30px;
    
    @media all and (min-width:768px){
        position: relative;
        left: -10px;
        margin-top: 15px;
        
    }
}
.footer__list {
    text-align: center;
    list-style: none;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    @media all and (min-width:768px){
            position: absolute;
            right: 45px;
            line-height: 30px;
            text-align: right;
            margin-top: 24px;
    }
    @media all and (min-width:1200px) {
             position: absolute;
             right: 138px;
             margin-top: 24px;
    }
}
.footer__list--link {
    color: $colorTextSecondary;
    font-size: 14px;
    opacity: 0.75;
    line-height: 1.43;
    font-weight: 550;
    font-family: $fontTitle;
    text-transform: uppercase;
    text-decoration: none;
}