
$colorBackground: white;
$colorPrimary: #099d8d;
$colorSecundary: #14d9c4;

$colorTextPrimary: #b8b8b9;
$colorTextSecundary: #54585a;

$fontTitle: 'Rubik', sans-serif;
$fontContent: 'Open+sans', sans-serif;

$fontMainContent: 16px;